<%- include("./partials/head") %> 
<%- include("./partials/header") %>
<main id="user">
  <h1>Lista de usuário</h1>
  <% if(locals.user){ %>
  <div>
    <img src="<%= user.avatar %>" alt="avatar" />
    <span><%= user.nome %> <%= user.sobrenome %></span>
    <span><%= user.email %></span>
    <span><%= user.idade %></span>
  </div>
  <% }else{ %>
  <h2 class="error-alert">Nenhum usuário encontrado</h2>
  <% } %>
</main>
<%- include("./partials/footer") %>
